<a href="https://colab.research.google.com/github/tn-220/SIC-Machine-Learning/blob/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_03_Coding_Exercises/ex_0208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coding Exercise #0208

### 1. MultiIndex:

In [ ]:
import pandas as pd
import numpy as np
import os

#### 1.1. Creating a DataFrame with MultiIndex:

In [ ]:
my_header = ['A','B','C']
print(my_header)

In [ ]:
my_index_out = ['G1']*2 + ['G2']*2 + ['G3']*2
my_index_in = ['a', 'b']*3

print(my_index_out)
print(my_index_in)

In [ ]:
my_index_zipped = list(zip(my_index_out, my_index_in))
my_index_zipped

In [ ]:
my_multi_index = pd.MultiIndex.from_tuples(my_index_zipped)
print(my_multi_index)

# numpy.random.randn return a sample (or samples) from the “standard normal” distribution.
df = pd.DataFrame(data=np.random.randn(6,3), index=my_multi_index, columns=my_header)

In [ ]:
df

#### 1.2. Indexing and slicing DataFrames with MultiIndex:

In [ ]:
df.loc['G1']

In [ ]:
# Indexing followed by another indexing.
df.loc['G1'].loc['a']

In [ ]:
# Indexing followed by another indexing.
df.loc['G1'].loc['a','B']

### 2. DataFrame summarization:

#### 2.1. Group by method:

In [ ]:
!wget --no-clobber https://raw.githubusercontent.com/tn-220/SIC-Machine-Learning/main/SIC_ML_Coding_Exercises/SIC_ML_Chapter_03_Coding_Exercises/data_studentlist.csv

In [ ]:
df = pd.read_csv('data_studentlist.csv',header='infer')

In [ ]:
df.head(3)

In [ ]:
df['flag_tall'] = np.where(df['height']>= 180, 1, 0)  # Where condition is true it should be first option, otherwise second option
df

In [ ]:
df['flag_tall'] = np.where((df['gender'] == 'M') & (df['height'] >= 180), 1, 
                           np.where((df['gender']=='F') & (df['height']>=167), 1, 0)) 
df

In [ ]:
df2 = df.groupby('gender').mean()
df2

In [ ]:
df.groupby('gender').mean().columns

In [ ]:
df2.index

In [ ]:
df2.index.name = None
df2

In [ ]:
# Operation for one variable
df.groupby('gender')['height'].mean()

In [ ]:
# To select more than one variable, you need to put them in a list
df.groupby('gender')[['height','weight']].mean()

In [ ]:
df.groupby('gender')[['grade','age', 'height']].std()

In [ ]:
# agg operator which assigns different methods to the different columns
df3 = df.groupby('gender')[['grade','age', 'height']].agg({'grade':'min', 'age': 'std'}) 
df3

In [ ]:
df.groupby('gender')['height'].describe()

In [ ]:
# for groupby more than one variable, each variable should be a categorical variable
sr = df.groupby(['gender','bloodtype'])['height'].mean()     # MultiIndexed result.
sr

In [ ]:
sr.index.names = [None, None]
sr

In [ ]:
sr.loc['F']

In [ ]:
sr.loc['F'].loc['A']

#### 2.2.  DataFrame methods:

In [ ]:
df['height'].apply(lambda x: x/100)

In [ ]:
df.sort_values(by='bloodtype')

In [ ]:
df.sort_values(by='bloodtype', ascending=False)

In [ ]:
df.sort_values(by=['bloodtype','gender'])

In [ ]:
df['bloodtype'].unique()

In [ ]:
df['bloodtype'].nunique()

In [ ]:
# Frequency table.
df['bloodtype'].value_counts()

In [ ]:
# Frequency table.
df['gender'].value_counts()

#### 2.3. Pivoting:

In [ ]:
my_dict = {"Size": ["L", "L", "M", "M", "M", "S", "S", "S", "S"],
           "Type": ["A", "A", "A", "B", "B", "A", "A", "B", "B"],
            "Location": ["L1", "L1", "L1", "L2", "L2", "L1", "L2", "L2", "L1"],
            "A": [1, 2, 2, 3, 3, 4, 5, 6, 7],
            "B": [2, 4, 5, 5, 6, 6, 8, 9, 9]}
df = pd.DataFrame(my_dict)
df

In [ ]:
# Index by 'Size' and 'Type'. Columns by 'Location'. Values provided by the 'B' column.
dfr = pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B')
dfr

In [ ]:
print(dfr.columns.name)
print(dfr.columns)
print(dfr)

In [ ]:
dfr.columns

In [ ]:
dfr.index                                                                 # MultiIndex object!

In [ ]:
# The same as above, but fill the missing values with 0.
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', fill_value=0)

In [ ]:
# The same as above with the aggregation function specified.
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', aggfunc = np.mean, fill_value=0)

In [ ]:
# Index by ''Location'. Columns by 'Size' and 'Type'. Values provided by the 'B' column.
dfr = pd.pivot_table(df, index='Location', columns=['Size','Type'], values='B')
dfr

In [ ]:
dfr.index

In [ ]:
dfr.columns                                                           # Now, MultiIndex object for the columns.

In [ ]:
# The aggregation funciton is numpy.median().
pd.pivot_table(df, index=['Size','Type'], columns='Location', values='B', aggfunc = np.median, fill_value=0)

In [ ]:
# Group averages of the columns 'A' and 'B'.
pd.pivot_table(df, index=['Size','Type'], values=['A','B'], aggfunc=np.mean)

In [ ]:
# Now, with groupby() method.
# The result is the same. 
df.groupby(['Size','Type'])[['A','B']].mean()

In [ ]:
# Aggregate differenly the columns 'A' and 'B'.
pd.pivot_table(df, index=['Size','Type'], values=['A','B'], aggfunc={'A':np.max,'B':np.min})